# This rule is not used by the project platform-operator-blueprint itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to app.54b3r.io resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: platform-operator-blueprint
    app.kubernetes.io/managed-by: kustomize
  name: webapp-viewer-role
rules:
- apiGroups:
  - app.54b3r.io
  resources:
  - webapps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - app.54b3r.io
  resources:
  - webapps/status
  verbs:
  - get
